:root {
    --bg-color: #b91450;
}
/* RESET  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* UTILITY  */
/* Colors  */
.text-white {
    color: white;
}
.bg-white {
    background-color: #fff;
}
.text-bg-color {
    color: var(--bg-color);
}
/* fine Colors  */
/* bordi */
.border-round {
    border-radius: 20px;
}
.box-shadow {
    box-shadow: 4px 4px rgba( 0 , 0 , 0 , 0.1);
}
/* fine bordi  */
/* titoli  */
h1 {
    text-transform: uppercase;
    padding: 2rem;
    text-align: center;
}
/* fine titoli  */
/* flex  */
.d-flex {
    display: flex;
}
.d-none {
    display: none;
}
.flex-col {
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
/* fine flex  */
/* Containers  */
.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
/* fine Containers */
/* FINE UTILITY  */
/* BODY */
body {
    font-family: sans-serif;
    background-color: var(--bg-color);
}
/* forum  */
.form-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem;
}
label {
    margin: 1.5rem 0;
}
input, select {
    padding: 10px;
    width: 300px;
    border: 1px solid #b91450;
    border-radius: 5px;
    background: white;
    text-align: center;
    font-size: 1.1rem;
}
button {
    margin: 30px;
    height: 40px;
    width: 150px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 1.2rem;
    color: var(--bg-color);
    font-weight: 800;
}
button:hover {
    border-color: orange;
}