:root {
    --bg-color: #b91450;
}
/* RESET  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* UTILITY  */
/* Colors  */
.text-white {
    color: white;
}
.text-black {
    color: black;
}
.text-bg-color {
    color: var(--bg-color);
}
.bg-white {
    background-color: #fff;
}
/* fine Colors  */
/* bordi */
.border-round {
    border-radius: 20px;
}
.box-shadow {
    box-shadow: 4px 4px rgba( 0 , 0 , 0 , 0.1);
}
/* fine bordi  */
/* titoli  */
h1 , h2 {
    text-transform: uppercase;
    padding: 2rem;
    text-align: center;
}
h3 {
    text-transform: uppercase;
}
/* fine titoli  */
/* flex  */
.d-flex {
    display: flex;
}
.d-none {
    display: none;
}
.flex-col {
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
/* fine flex  */
/* Containers  */
.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
.p-2 {
    padding: 1.5rem;
}
/* fine Containers */
/* FINE UTILITY  */
/* BODY */
body {
    font-family: sans-serif;
    background-color: var(--bg-color);
}
/* forum  */
.form-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem;
}
label {
    margin: 1.5rem 0;
}
input, select {
    padding: 10px;
    width: 300px;
    border: 1px solid #b91450;
    border-radius: 5px;
    background: white;
    text-align: center;
    font-size: 1.1rem;
}
button {
    margin: 30px;
    height: 40px;
    width: 150px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 1.2rem;
    color: var(--bg-color);
    font-weight: 800;
}
button:hover {
    border-color: orange;
}
/* fine forum  */
/* biglietto  */
.result {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    height: 180px;
    display: flex;
    
}
.result div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    width: 19%;


}
.result div:first-child {
    background-color: gray;
    width: 24%;
    justify-content: start;
}
.result div:first-child p {
    font-weight: 600;
}